pipeline/InsuranceMaster.json
{
	"name": "InsuranceMaster",
	"properties": {
		"activities": [
			{
				"name": "dataflowAssertInsurance1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflowAssertInsurance",
						"type": "DataFlowReference",
						"parameters": {
							"parameter1": {
								"value": "'@{variables('JobId')}'",
								"type": "Expression"
							},
							"parameter2": {
								"value": "'@{variables('sciClientId')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "NewIns",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "sciClientId",
					"value": {
						"value": "@activity('Lookup1').output.FirstRow.SciClientID",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select SciClientID, SciClientLocationId, ID   from JobMonitors  where FileName=  '@{activity('Get Metadata1').output.itemName}'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "JobMonitor",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "JobId",
					"value": {
						"value": "@string(activity('Lookup1').output.FirstRow.ID)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"sciClientId": {
				"type": "String"
			},
			"JobId": {
				"type": "String"
			},
			"FileName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-07-04T15:38:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}